@using WhatSearch.Controllers
@using WhatSearch.Utility
@{ 
    this.Layout = "_Layout.cshtml";
}
@section header {     
    <style>
        .links a {
            display:block;
            font-size:20px;
        }
    </style>
}
<div class="container">
<h2>DEBUG PAGE</h2>
<div class="links">
    <a href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">bootstrap.min.css</a>

    <a href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">font-awesome.min.css</a>

    <a href="/assets/css/site.css?636968427609938263">site.css</a>

    <a href="https://code.jquery.com/jquery-3.3.1.min.js">jquery-3.3.1.min.js</a>

    <a href="https://code.jquery.com/jquery-3.4.1.min.js">jquery-3.4.1.min.js</a>

    <a href="/assets/js/jquery-3.4.1.min.js">jquery-3.4.1.min.js</a>

    <a href="https://unpkg.com/axios/dist/axios.min.js">axios.min.js</a>

    <a href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">popper.min.js</a>
    <a href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">bootstrap.min.js</a>
    <a href="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js">vue.min.js</a>

    <a href="/assets/js/api.js?637016768920576038">api.js</a></div></div>