@using WhatSearch.Controllers
@model PageController.PageListModel
@using WhatSearch.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />


    <title>@Helper.GetProductVersion(true)</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <style type="text/css">
        html {
            overflow: -moz-scrollbars-vertical;
            overflow-y: scroll;
        }
        body {
            padding-top: 50px;
            padding-bottom: 20px;
            font-size: 11px;
        }
        td.fs-cell i {
            font-size: 24px;
        }
        td.fs-cell i span {
            font-size: 9px;
            height: 20px;
            color: black;
            padding-left: 6px;
        }

        td.fs-folder i {
            color: orange;
        }
        td.fs-video i {
            color: silver;
        }
        td.fs-audio i {
            color: silver;
        }
        td.fs-other i {
            color: silver;
        }
        td.fs-image i {
            color: silver;
        }
        td.fs-text i {
            color: silver;
        }
        td.fs-file i {
            color: silver;
        }

        td.fs-cell {
            vertical-align:bottom !important;
        }
        td.fs-cell span {
            height:20px;
            display:inline-block;
        }
        #breadcrumbs {
            width: 720px;
            height:36px;
            white-space:nowrap;
            overflow: hidden;
            font-size: 11px;
        }
        #breadcrumbs a {
            display: inline-block;
            color: cornsilk;
            font-size:13px;
        }
        #breadcrumbs .sep {
            padding-left: 3px;
            padding-right: 3px;
            display: inline-block;
            color: cornsilk;
            font-size: 13px;
        }
        #searchResult tr {
            cursor: pointer;
        }
        #rssLink {
            display:none;
        }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        window.getFolder = function (folder) {            
            console.log('get folder: ' + folder);
            $.ajax({
                type: "POST",
                url: "/api/folder",
                data: JSON.stringify({ 'p': folder }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    if (history.state != null) {
                        console.log('url from:' + history.state.url);                        
                    }
                    console.log('url to:' + res.url);
                    if (history.state == null || (history.state.url != res.url)) {
                        window.history.pushState(res, '', res.url);
                    }
                    window.onFolderChanged(res);
                }
            });
        }

        window.onpopstate = function () {            
            if (event.state) {
                res = event.state;
                console.log(res);
                onFolderChanged(res);
            }
            else {
                //第一次進入頁面，則替換成自訂狀態內容
                //history.replaceState(state, state.title, "?t=" + res.url);
            }
        };
        window.onFolderChanged = function (res) {
            items = res.items;
            message = res.message;
            breadcrumbs = res.breadcrumbs;
            rssUrl = res.rssUrl;
            url = res.url;
            $('#searchResult>tbody').empty();
            for (var k in items) {
                var item = items[k];
                window.renderFsRow(
                    item.id,
                    item.get_url,
                    item.title,
                    item.modify,
                    item.type,
                    item.size);
            }
            window.renderBreadcrumbs(breadcrumbs);
            $('p', 'footer').text(message);
            if (breadcrumbs.length > 1) {
                $('#rssLink').attr('href', rssUrl);
                $('#rssLink').show();
            } else {
                $('#rssLink').hide();
            }
        }

        window.renderBreadcrumbs = function (brbs) {
            $('#breadcrumbs').empty();
            for (var i in brbs) {
                $('<a></a>').addClass('nav-link').attr('href', 'javascript:void(0)')
                    .data('fid', brbs[i].id)
                    .data('type', 'folder')
                    .text(brbs[i].title)
                    .appendTo('#breadcrumbs')
                $('<span></span>').addClass('sep').text('>')
                    .appendTo('#breadcrumbs')
            }
        };
        window.renderFsRow = function (id, get_url, file, modify, type, size) {
            var row = $('<tr data-fid="' + id + '" class="fs-row"></tr>');
            row.data('type', type);
            row.data('get_url', get_url);

            if (type == "folder") {
                $(row).append('<td class="fs-cell fs-folder"><i class="fa fa-folder-open"><span>'
                    + file + '</span></i></td>');
            } else if (type == "video") {
                $(row).append('<td class="fs-cell fs-video"><i class="fa fa-file-video-o"><span>'
                    + file + '</span></i></td>');
            } else if (type == "music") {
                $(row).append('<td class="fs-cell fs-audio"><i class="fa fa-file-audio-o"><span>'
                    + file + '</span></i></td>');
            } else if (type == "image") {
                $(row).append('<td class="fs-cell fs-image"><i class="fa fa-file-photo-o"><span>'
                    + file + '</span></i></td>');
            } else if (type == "text") {
                $(row).append('<td class="fs-cell fs-text"><i class="fa fa-file-text-o"><span>'
                    + file + '</span></i></td>');
            } else {
                $(row).append('<td class="fs-cell fs-file"><i class="fa fa-file"><span>'
                    + file + '</span></i></td>');
            }
            //
            $(row).append('<td class="fs-cell"><span>' + modify + '</span></td>');
            $(row).append('<td class="fs-cell"><span>' + type + '</span></td>');
            $(row).append('<td class="fs-cell"><span>' + size + '</span></td>');
            $('#searchResult>tbody').append(row);
        };

        $(document).ready(function () {
            window.getFolder('');

            $(document).keydown(function (evt) {
                var KeyID = event.keyCode;
                switch (KeyID) {
                    case 8:
                        history.back();
                        break;
                    default:
                        break;
                }
            });

            $('#breadcrumbs').on('click', '.nav-link', function () {
                var fid = $(this).data('fid');
                var fsType = $(this).data('type');
                if (fsType == 'folder') {
                    if (fid != null) {
                        window.getFolder(fid);
                    }
                } else {
                    alert(fsType);
                }
            });          

            $('#searchResult').on('click', '.fs-row', function () {
                var fid = $(this).data('fid');
                var fsType = $(this).data('type');
                var getUrl = $(this).data('get_url');
                if (fsType == 'folder') {
                    if (fid != null) {
                        window.getFolder(fid);
                    }
                } else {
                    window.open(getUrl, '_blank');
                }
            });

            $('#keyword').keypress(function (evt) {
                if (evt.keyCode === 13) {
                    $('#btnSearch').trigger('click');
                    return false;
                }
            }).click(function () {
                $(this).select();
            });
            $('#btnSearch').click(function () {
                var keyword = $('#keyword').val();
                console.log('data:' + JSON.stringify({ 'q': keyword }));
                $.ajax({
                    type: "POST",
                    url: "/api/search",
                    data: JSON.stringify({ 'q': keyword }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (res) {
                        $('#searchResult>tbody').empty();
                        for (var k in res.items) {
                            var item = res.items[k];
                            window.renderFsRow(
                                item.id,
                                item.get_url,
                                item.title,
                                item.modify,
                                item.type,
                                item.size);
                        }
                        //$('p', 'footer').text(res.items.length + ' files.');
                        $('p', 'footer').text(res.message);
                    }
                });
            });
          

        });
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <a class="navbar-brand" href="/page">@Helper.GetProductVersion(false)</a>
            <a id="rssLink" href="#" target="_blank">
                <img class="navbar-brand" src="/images/rss.png" />
            </a>
            <div class="navbar-brand" id="breadcrumbs">

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" method="post">
                    <div class="form-group">
                        <input type="text" placeholder="什麼" id="keyword" name="keyword" class="form-control">
                    </div>
                    <button id="btnSearch" type="button" class="btn btn-success">搜尋</button>
                </form>
            </div><!--/.navbar-collapse -->

        </div>
    </nav>

    <div id="main" class="container">

        <!-- Example row of columns -->
        <div id="searchList">
            <table class="table table-hover" id="searchResult">
                <thead>
                    <tr>
                        <th>名稱</th>
                        <th>修改日期</th>
                        <th>類型</th>
                        <th>大小</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <footer>
            <p style="text-align:right"></p>
        </footer>
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->    


</body>
</html>
