@using WhatSearch.Controllers
@using WhatSearch.Utility
@{ 
    this.Layout = "_Layout.cshtml";
}

@section header {     

    <style type="text/css">

        #searchBar {
            display: none;
        }

        #breadcrumbs {
            /*width: 720px;*/
            /*height: 36px;*/
            display: flex;
            white-space: nowrap;
            overflow-x: auto;
            font-size: 13px;
        }

        #breadcrumbs .item {
            display:flex;
        }

        #breadcrumbs a {
            display:flex;
            color: cornsilk;
        }

        #breadcrumbs .sep {
            display:flex;
            padding-left: 3px;
            padding-right: 3px;
            color: cornsilk;
            font-size: 13px;
        }

        #searchResult tr {
            cursor: pointer;
        }

        #rssLink {
            display: none;
        }


        table {
            height: 100%;
        }

        .cell {
            background: #ddd;
            border: 5px solid #fff;
        }
        /* Optional */


        .stackem div {
            width: 100%;
        }

        .selected-item-row {
            border-left:6px solid forestgreen;
        }
        .top-mark, .bottom-mark {
            color:transparent;
        }

    </style>

    <script type="text/javascript">
        window.startFolderId = '@ViewBag.StartFolderId';
        
        window.getFolder = function (folder) {
            api.folder(folder).then(function (res) {
                var data = res.data;
                if (history.state != null) {
                    console.log('url from:' + history.state.url);
                }
                console.log('url to:' + data.url);
                
                let state = { 'folder': folder, 'selId': '' };
                console.log('push-state:' + folder);
                window.history.pushState(state, '', data.url);
                
                window.onFolderChanged(data);
            });               
        }

        window.getParentId = function () {
            if (window.breadcrumbItems == null) {
                return '';
            }
            let lastIndex = window.breadcrumbItems.length - 1;
            if (lastIndex > 0) return '';
            return window.breadcrumbItems[lastIndex].id;
        }

        window.onpopstate = function () {
            if (event.state) {
                let itemId = event.state.folder;
                let selId = event.state.selId;
                console.log('pop-state:' + itemId + ' select ' + selId);
                window.getFolder(itemId);
            }
        };
        window.onFolderChanged = function (res) {
            items = res.items;
            message = res.message;
            breadcrumbs = res.breadcrumbs;            
            rssUrl = res.rssUrl;
            url = res.url;
            $('#searchResult>tbody').empty();                        
            app.items = items;
            window.renderSelectedItem(items, window.sessionStorage.getItem('breadcrumbs'));
            window.breadcrumbItems = breadcrumbs;
            window.sessionStorage.setItem('breadcrumbs', JSON.stringify(breadcrumbs));
            window.renderBreadcrumbs(breadcrumbs);
            $('p', 'footer').text(message);
            if (breadcrumbs.length > 1) {
                $('#rssLink').attr('href', rssUrl);
                $('#rssLink').show();
            } else {
                $('#rssLink').hide();
            }
            $('#searchBar').hide();
            $('#breadcrumbs').show();
            window.setTimeout(function () {
                app.adjustScrollTop();
            },50);            
        }

        window.renderSelectedItem = function (items, breadcrumbsJson0) {
            let bcbIds = [];
            if (breadcrumbsJson0) {
                let breadcrumbs0 = JSON.parse(breadcrumbsJson0);
                for (i in breadcrumbs0) {
                    bcbIds.push(breadcrumbs0[i].id);
                }
            }
            let found = false;
            for (var i in items) {
                
                if (bcbIds.indexOf(items[i].id) != -1) {
                    items[i].selected = true;
                    found = true;
                    break;
                } else {
                    items[i].selected = false;
                }
            }
            if (found == false) {
                if (items.length > 0) {
                    items[0].selected = true;
                }
            }
        }

        window.renderBreadcrumbs = function (brbs) {
            $('#breadcrumbs').empty();
            for (var i in brbs) {
                $('<a></a>').addClass('nav-link').attr('href', 'javascript:void(0)')
                    .data('fid', brbs[i].id)
                    .data('type', 'folder')
                    .text(brbs[i].title)
                    .appendTo('#breadcrumbs')
                $('<span></span>').addClass('sep').text('>')
                    .appendTo('#breadcrumbs')

            }
        };        

        $(document).ready(function () {
            console.log('window.startFolderId=' + window.startFolderId);
            window.getFolder(window.startFolderId);

            $('#breadcrumbs').on('click', '.nav-link', function () {
                var fid = $(this).data('fid');
                var fsType = $(this).data('type');
                if (fsType == 'folder') {
                    if (fid != null) {
                        window.getFolder(fid);
                    }
                } else {
                    alert(fsType);
                }
            });

            $('#keyword').keypress(function (evt) {
                if (evt.keyCode === 13) {
                    $('#btnSearch').trigger('click');
                    return false;
                }
            }).click(function () {
                $(this).select();
            });

            $('#btnSearch').click(function () {
                var keyword = $('#keyword').val();
                console.log('begin search, data:' + JSON.stringify({ 'q': keyword }));
                api.search(keyword).then(function (res) {
                    var data = res.data;
                    $('#searchResult>tbody').empty();
                    app.items = data.items;
                    $('p', 'footer').text(data.message);
                });
            });

        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnBars').click(function () {
                if ($('#searchBar').is(':visible') == false) {
                    $('#searchBar').show();
                    $('#breadcrumbs').hide();
                    $('#keyword').empty().focus();
                } else {
                    $('#searchBar').hide();
                    $('#breadcrumbs').show();
                }
            });
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            window.app = new Vue({
                el: '#main',
                data: {
                    items: [

                    ]
                },
                mounted() {
                    window.addEventListener("keydown", this.handleKeyDownEvent);
                },
                destroyed() {
                    window.removeEventListener("keydown", this.handleKeyDownEvent);
                },
                methods: {
                    vm_changeFolder: function (item) {
                        if (item.type == 'folder') {
                            api.folder(item.id).then(function (res) {
                                var data = res.data;                                
                                console.log('push-state:' + item.id);
                                let state = { 'folder': item.id, 'selId': window.getParentId() };
                                window.history.pushState(state, '', data.url);
                                window.onFolderChanged(data);
                            });
                        } else {
                            console.log('open file:' + item.get_url)
                            window.open(item.get_url, '_blank');
                        }
                    },
                    handleKeyDownEvent: function (evt) {
                        if (evt.keyCode == 40) {
                            for (i in this.items) {
                                let item = this.items[i];
                                if (item.selected) {
                                    let nextIndex = parseInt(i, 10) + 1;
                                    if (nextIndex == this.items.length) {
                                        break;
                                    }
                                    item.selected = false;
                                    this.items[nextIndex].selected = true;
                                    break;
                                }
                            }
                            this.$forceUpdate();
                            window.event.preventDefault();
                        }
                        if (evt.keyCode == 38) {
                            for (i in this.items) {
                                let item = this.items[i];
                                if (item.selected) {
                                    let nextIndex = parseInt(i, 10) - 1;
                                    if (nextIndex == -1) {
                                        break;
                                    }
                                    item.selected = false;
                                    this.items[nextIndex].selected = true;
                                    break;
                                }
                            }
                            this.$forceUpdate();
                            window.event.preventDefault();
                        }
                        if (evt.keyCode == 8 || evt.keyCode == 37) {
                            history.back();
                        }
                        if (evt.keyCode == 13 || evt.keyCode == 39) {
                            if ($('.selected-item-row').length > 0) {
                                $('.selected-item-row')[0].click();
                            }
                        }

                        this.adjustScrollTop();
                        
                    },
                    adjustScrollTop: function () {
                        this.$nextTick(function () {
                            //check selected-row at view
                            if ($('.selected-item-row').length > 0) {
                                if ($('.selected-item-row').offset().top + $('.selected-item-row').height() >
                                    $('.bottom-mark').offset().top) {                                    
                                    document.documentElement.scrollTop += 50;
                                }
                                if ($('.selected-item-row').offset().top < $('.top-mark').offset().top) {
                                    if (document.documentElement.scrollTop >= 50) {
                                        document.documentElement.scrollTop -= 50;
                                    }
                                }
                            }
                        });
                    }
                }
            })
        });

    </script>
}

    <body>

        <nav class="navbar navbar-dark bg-dark sticky-top">
            <div style="flex-grow:1; width:80%; display:flex">
                <span class="navbar-brand mb-0 h1">WhatSearch</span>
                <div id="breadcrumbs" style="align-self:center"></div>
                <div id="searchBar" style="position:relative; flex-grow: 1">
                    <input type="text" id="keyword" name="keyword" placeholder="什麼" class="form-control">
                    <button id="btnSearch" class="btn btn-success"
                            style="position:absolute; right:0px; top:0px">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div style="width:36px; padding-left:2px">
                <button id="btnBars" class="btn btn-success btn"><i class="fa fa-bars"></i></button>
            </div>
        </nav>

        <div class="container-fluid" id="main" v-cloak>
            <div v-for="item in items" v-on:click="vm_changeFolder(item)" 
                 :class="{'row': true, 'selected-item-row': item.selected}" style="padding:5px 5px 5px 5px; width:100%; cursor:pointer">
                <div style="height:40px;  padding-left: 20px;" class="">
                    <i v-if="item.type == 'folder'" class="fa fa-folder-open pull-left" 
                       style="font-size:32px;color:orange;"></i>
                    <i v-else-if="item.type == 'video'" class="fa fa-file-video-o pull-left" 
                       style="font-size:32px;color:silver;"></i>
                    <i v-else-if="item.type == 'music'" class="fa fa-file-audio-o pull-left" 
                       style="font-size:32px;color:silver;"></i>
                    <i v-else-if="item.type == 'image'" class="fa fa-file-photo-o pull-left" 
                       style="font-size:32px;color:silver;"></i>
                    <i v-else-if="item.type == 'text'" class="fa fa-file-text-o pull-left" 
                       style="font-size:32px;color:silver;"></i>
                    <i v-else class="fa fa-folder-file pull-left" 
                       style="font-size:32px;color:silver;"></i>
                </div>
                <div style="flex-grow:2; width:80%">
                    <div style="display:flex; flex-direction:column">
                        <div style="font-size: 18px; line-height:20px;overflow:auto; white-space:nowrap">{{ item.title }}</div>
                        <div style="font-size: 12px;line-height:12px; color:gray; display:flex; flex-direction:row; justify-content:space-between">
                            <div style="padding-left:0px; width:50%; ">{{ item.modify }}</div>
                            <div style="width:40%; text-align:right">{{ item.size }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <p style="text-align:right"></p>
            </footer>
        </div>
        <div class="top-mark" style="position:fixed; top:50px">***</div>
        <div class="bottom-mark" style="position:fixed; bottom:0px">***</div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->





    </body>