@using WhatSearch.Controllers
@using WhatSearch.Utility
@{ 
    this.Layout = "_Layout.cshtml";
}

@section header {     

    <script type="text/javascript">

        window.startFolderId = '@ViewBag.StartFolderId';
        window.getFolder = function (folder) {
            console.log('get folder: ' + folder);
            $.ajax({
                type: "POST",
                url: "/api/folder",
                data: JSON.stringify({ 'p': folder }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    if (history.state != null) {
                        console.log('url from:' + history.state.url);
                    }
                    console.log('url to:' + res.url);
                    if (history.state == null || (history.state.url != res.url)) {
                        window.history.pushState(res, '', res.url);
                    }
                    window.onFolderChanged(res);
                }
            });
        }

        window.onpopstate = function () {
            if (event.state) {
                res = event.state;
                console.log(res);
                onFolderChanged(res);
            }
            else {
                //第一次進入頁面，則替換成自訂狀態內容
                //history.replaceState(state, state.title, "?t=" + res.url);
            }
        };
        window.onFolderChanged = function (res) {
            items = res.items;
            message = res.message;
            breadcrumbs = res.breadcrumbs;
            rssUrl = res.rssUrl;
            url = res.url;
            $('#searchResult>tbody').empty();
            app.items = items;
            window.renderBreadcrumbs(breadcrumbs);
            $('p', 'footer').text(message);
            if (breadcrumbs.length > 1) {
                $('#rssLink').attr('href', rssUrl);
                $('#rssLink').show();
            } else {
                $('#rssLink').hide();
            }
            $('#searchBar').hide();
            $('#breadcrumbs').show();
        }

        window.renderBreadcrumbs = function (brbs) {
            $('#breadcrumbs').empty();
            brbs = brbs.reverse();
            for (var i in brbs) {
                $('<span></span>').addClass('sep').text('<')
                    .appendTo('#breadcrumbs')
                $('<a></a>').addClass('nav-link').attr('href', 'javascript:void(0)')
                    .data('fid', brbs[i].id)
                    .data('type', 'folder')
                    .text(brbs[i].title)
                    .appendTo('#breadcrumbs')
            }
        };        

        $(document).ready(function () {
            if (window.startFolderId != '') {
                window.getFolder(window.startFolderId);
            } else {
                window.getFolder('');
            }

            $('#breadcrumbs').on('click', '.nav-link', function () {
                var fid = $(this).data('fid');
                var fsType = $(this).data('type');
                if (fsType == 'folder') {
                    if (fid != null) {
                        window.getFolder(fid);
                    }
                } else {
                    alert(fsType);
                }
            });

            $('#keyword').keypress(function (evt) {
                if (evt.keyCode === 13) {
                    $('#btnSearch').trigger('click');
                    return false;
                }
            }).click(function () {
                $(this).select();
            });

            $('#btnSearch').click(function () {
                var keyword = $('#keyword').val();
                console.log('data:' + JSON.stringify({ 'q': keyword }));
                $.ajax({
                    type: "POST",
                    url: "/api/search",
                    data: JSON.stringify({ 'q': keyword }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (res) {
                        $('#searchResult>tbody').empty();
                        app.items = res.items;                        
                        $('p', 'footer').text(res.message);
                    }
                });
            });

        });
    </script>

    <style type="text/css">
        #searchBar {
            display: none;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnBars').click(function () {
                if ($('#searchBar').is(':visible') == false) {
                    $('#searchBar').show();
                    $('#breadcrumbs').hide();
                    $('#keyword').empty().focus();
                } else {
                    $('#searchBar').hide();
                    $('#breadcrumbs').show();
                }
            });
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            window.app = new Vue({
                el: '#main',
                data: {
                    items: [

                    ]
                },
                methods: {
                    vm_changeFolder: function (item) {
                        if (item.type == 'folder') {
                            $.ajax({
                                type: "POST",
                                url: "/api/folder",
                                data: JSON.stringify({ 'p': item.id }),
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (res) {
                                    if (history.state != null) {
                                        console.log('url from:' + history.state.url);
                                    }
                                    console.log('url to:' + res.url);
                                    if (history.state == null || (history.state.url != res.url)) {
                                        window.history.pushState(res, '', res.url);
                                    }
                                    window.onFolderChanged(res);
                                }
                            });
                        } else {
                            window.open(item.get_url, '_blank');
                        }
                    }
                }
            })
        });
    </script>
}

    <body>

        <nav class="navbar navbar-dark bg-dark sticky-top">
            <div style="flex-grow:1; width:80%; display:flex">
                <span class="navbar-brand mb-0 h1">WhatSearch</span>
                <div id="breadcrumbs" style="align-self:center"></div>
                <div id="searchBar" style="position:relative; flex-grow: 1">
                    <input type="text" id="keyword" name="keyword" placeholder="什麼" class="form-control">
                    <button id="btnSearch" class="btn btn-success"
                            style="position:absolute; right:0px; top:0px">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div style="width:36px; padding-left:2px">
                <button id="btnBars" class="btn btn-success btn"><i class="fa fa-bars"></i></button>
            </div>
        </nav>

        <div class="container" id="main" style="padding-top:10px" v-cloak>
            <div class="row" style="padding:5px 5px 5px 5px; cursor:pointer" v-for="item in items" v-on:click="vm_changeFolder(item)">
                <div style="height:40px;  padding-left: 20px;">
                    <i class="fa fa-folder-open pull-left" style="font-size:32px;color:orange;" v-if="item.type == 'folder'"></i>
                    <i class="fa fa-file-video-o pull-left" style="font-size:32px;color:silver;" v-else-if="item.type == 'video'"></i>
                    <i class="fa fa-file-audio-o pull-left" style="font-size:32px;color:silver;" v-else-if="item.type == 'music'"></i>
                    <i class="fa fa-file-photo-o pull-left" style="font-size:32px;color:silver;" v-else-if="item.type == 'image'"></i>
                    <i class="fa fa-file-text-o pull-left" style="font-size:32px;color:silver;" v-else-if="item.type == 'text'"></i>
                    <i class="fa fa-folder-file pull-left" style="font-size:32px;color:silver;" v-else></i>
                </div>
                <div style="flex-grow:2; width:80%">
                    <div style="display:flex; flex-direction:column">
                        <div style="font-size: 18px; line-height:20px;overflow:scroll; white-space:nowrap">{{ item.title }}</div>
                        <div style="font-size: 12px;line-height:12px; color:gray; display:flex; flex-direction:row; justify-content:space-between">
                            <div style="padding-left:0px; width:50%; ">{{ item.modify }}</div>
                            <div style="width:40%; text-align:right">{{ item.size }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <p style="text-align:right"></p>
            </footer>
        </div>

        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->




        <style type="text/css">



            #breadcrumbs {
                /*width: 720px;*/
                /*height: 36px;*/
                white-space: nowrap;
                overflow-x: scroll;
                direction: rtl;
                font-size: 13px;
            }

            #breadcrumbs a {
                display: inline-block;
                color: cornsilk;
            }

            #breadcrumbs .sep {
                padding-left: 3px;
                padding-right: 3px;
                display: inline-block;
                color: cornsilk;
                font-size: 13px;
            }

            #searchResult tr {
                cursor: pointer;
            }

            #rssLink {
                display: none;
            }


            table {
                height: 100%;
            }

            .cell {
                background: #ddd;
                border: 5px solid #fff;
            }
            /* Optional */


            .stackem div {
                width: 100%;
            }
        </style>
    </body>