@model dynamic
@using WhatSearch.Core
@using WhatSearch.Controllers
@using WhatSearch.Utility
@{
    this.Layout = "_Layout.cshtml";
}

  
<body>
    <div id="main" class="container" style="display:flex; flex-direction:column">
        <h1>登入準備</h1>
    </div>
</body>