<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net debug="true">

  
    
    <appender name="RollingSystem" type="log4net.Appender.RollingFileAppender">
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <param name="datePattern" value="-yyyyMMdd'.txt'" />
      <staticLogFileName value="true" />
      <file type="log4net.Util.PatternString" value="Logs/System/%property{log4net:HostName}/log-" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <!-- Set default logging level to warning -->
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingSystem" />      
    </root>

    <logger name="Quartz">
      <level value="WARN" />
      <appender-ref ref="RollingSystem" />
    </logger>

  </log4net>  
</configuration>