<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net debug="true">

    <!-- Set default logging level to warning -->
    <root>
      <level value="INFO" />
      <appender-ref ref="Root" />
      <appender-ref ref="Console" />
    </root>
    <appender name="Root" type="log4net.Appender.RollingFileAppender">
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <param name="datePattern" value="yyyyMMdd'.txt'" />
      <staticLogFileName value="true" />
      <file type="log4net.Util.PatternString" value="Logs/System/log-" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>

    <logger name="WhatSearch.Services.SimpleDocumentService">
      <level value="INFO" />
      <appender-ref ref="SimpleDocumentService" />
    </logger>
    <appender name="SimpleDocumentService" type="log4net.Appender.RollingFileAppender">
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <param name="datePattern" value="yyyyMMdd'.txt'" />
      <staticLogFileName value="true" />
      <file type="log4net.Util.PatternString" value="Logs/SimpleDocumentService/log-" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <logger name="WhatSearch.Service.LuceneSearchBase">
      <level value="INFO" />
      <appender-ref ref="LuceneSearchBase" />
    </logger>
    <appender name="LuceneSearchBase" type="log4net.Appender.RollingFileAppender">
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <param name="datePattern" value="yyyyMMdd'.txt'" />
      <staticLogFileName value="true" />
      <file type="log4net.Util.PatternString" value="Logs/LuceneSearchBase/log-" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <logger name="Quartz">
      <level value="WARN" />
      <appender-ref ref="Root" />
    </logger>
    <appender name="Quartz" type="log4net.Appender.RollingFileAppender">
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <param name="datePattern" value="yyyyMMdd'.txt'" />
      <staticLogFileName value="true" />
      <file type="log4net.Util.PatternString" value="Logs/Quartz/%property/log-" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>  
</configuration>