<?xml version="1.0" encoding="UTF-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogToConsole="true"
      internalLogLevel="info">

	<!-- enable asp.net core layout renderers -->
    <extensions>
        <!--<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.DiagnosticSource"/>-->
    </extensions>

	<variable name="log-root" value="logs" />
	<variable name="log-daily" value="${log-root}/${date:format=yyyy}/${date:format=yyyy-MM}/${shortdate}" />

	<!-- the targets to write to -->
	<targets>
		<target encoding="utf-8" xsi:type="File" name="allfile"
                fileName="${currentdir:cached=true}/${log-root}/nlog-${shortdate}.all.log"
                layout="${date:format=HH\:mm\:ss} ${logger} ${level} - ${message} ${onexception:inner=${newline}${exception:format=ToString}}" />

		<target name="console" xsi:type="Console" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${level} ${message} ${onexception:inner=${newline}${exception:format=ToString}}" />

		<target encoding="utf-8" xsi:type="File" name="error"
                fileName="${currentdir:cached=true}/${log-root}/nlog-${shortdate}.error.log"
                layout="${date:format=HH\:mm\:ss} ${logger} ${level} - ${message} ${onexception:inner=${newline}${exception:format=ToString}}" />
		
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="*" minlevel="Info" writeTo="console" />
		<logger name="*" minlevel="Warning" writeTo="error" />
	</rules>
</nlog>