html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

@media only screen and (min-width: 768px) {
    body {
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 11px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 11px;
    }
}
