@using WhatSearch.Controllers
@using WhatSearch.Utility
@{
    this.Layout = "_Layout.cshtml";
}

@section header {
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous"></script>
<style>
html {
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}
body {
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
}
label {
    margin: .5rem;
}
    progress {
        width: 100%;
        height: 3em;
        color: black;
        font-size: 1.5em;
        text-align: center;
        padding-top: .7em;
        font-weight: bold;
    }

    progress:before {
        content: attr(data-label);
    }

    .table tbody tr {
        border-bottom: 1px dashed lightgrey;
    }

    .nav-menu {
        color: black;
        border: 1px solid darkgray;
        background-color: white !important;
        font-size: 2em;
        padding: 0.2em 0px;
        box-shadow: 3px 0px 5px;
    }

    .nav-menu-item {
        text-align: center;
        padding: .4em 1em;
    }

    #headPanel {
        display: flex;
        font-size: 2rem;
        font-weight: bold;
        justify-content: space-between;
    }

    #commandPanel {
        border-top: 3px dashed #292d29;
        padding: 5px 3px;
        @*display: -webkit-inline-box;
        display: -webkit-flex;*@
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    canvas {
        border: 3px solid lightgrey;
        display: block;
    }
    canvas.selected {
        border: 3px solid black;
    }
</style>
}

<body>
    <div id="app">
        <div class="container-fluid">
            <div id="headPanel">
                <h1 style="width:50%">Merge images</h1>
                <a id="linkDownloadImage" style="width:50%; text-align: right" href="">Download</a>
            </div>
            <div id="commandPanel">
                <div>
                <input id="uploadFile" accept="image/*" type="file" style="width:1px; display:none" />
                <button id="btnUpload" style="" class="btn btn-success">Upload file</button>    
                </div>
                <div>
                    <select class="form-control" id="mergeType" style="padding:0px 0px!important; font-size:0.8rem">
                        <option value="0">合併方式:比照最窄縮小</option>
                        <option value="1">合併方式:比照最寬放大</option>                        
                        <option value="2">合併方式:比照最窄栽切</option>
                        <option value="3">合併方式:比照最寬留白</option>
                    </select>
                </div>
                               
            </div>
                 
            <div id="canvasBody" style="position:relative; ">
@*                <div class="canvasItem">
                    <canvas class="canvasView" width="600" height="600"></canvas>
                </div>*@
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var canvasItems = [];
        canvasItems.getSelectedItem = function() {
            for (var i = 0; i < this.length; i++) {
                let item = this[i];
                if ($(item.canvasView).is('.selected')) {
                    return item;
                }
            }
            return null;
        };
        canvasItems.getDestCanvasSize = function(mergeType, maxWidth) {
            let result = {width:0, height:0};
            for (var i = 0; i < this.length; i++) {
                let img = this[i].imgData;
                if (img == null) {
                    continue;
                }
                if (mergeType == 0 || mergeType == 2) {
                    if (result.width > img.width || result.width == 0) {
                        result.width = img.width;
                    }
                } else if (mergeType == 1 || mergeType == 3) {
                    if (result.width < img.width || result.width == 0) {
                        result.width = img.width;
                    }
                }
            }
            for (var i = 0; i < this.length; i++) {
                let img = this[i].imgData;
                if (img == null) {
                    continue;
                }
                let adjustedWidth = 0;
                let adjustedHeight = 0;
                if (mergeType == 0 || mergeType == 1) {
                    adjustedWidth = result.width;
                    let r = result.width / img.width; 
                    adjustedHeight = Math.ceil(r * img.height);
                } else if (mergeType == 2) {
                    adjustedWidth = result.width;                        
                    adjustedHeight = img.height;
                } else if (mergeType == 3) {
                    adjustedWidth = result.width;
                    adjustedHeight = img.height;
                }
                this[i].adjustedSize = {
                    width: adjustedWidth,
                    height: adjustedHeight
                };
                result.height += adjustedHeight;
            }

            if (maxWidth != null && maxWidth != 0) {
                //TODO
            }

            return result;
        };

        //maxWidth 會在mobile啟用，原因呢? 是因為記憶體可能不足，造成合併失敗
        canvasItems.createDestCanvas = function(mergeType, maxWidth) {
            var destCanvasWidth = 0;
            var destCanvasHeight = 0;
            
            var destCanvasSize = this.getDestCanvasSize(mergeType, maxWidth);
            var destCanvasWidth = destCanvasSize.width;
            var destCanvasHeight = destCanvasSize.height;

            console.log('destCanvas:' + destCanvasWidth + 'x' + destCanvasHeight)

            var destCanvas = document.createElement('canvas');

            destCanvas.id = "CursorLayer";
            destCanvas.width = destCanvasWidth;
            destCanvas.height = destCanvasHeight;
            destCanvas.style.zIndex = 8;
            destCanvas.style.position = "absolute";
            destCanvas.style.border = "1px solid";

            var destCtx = destCanvas.getContext("2d");

            let top = 0;
            for (var i = 0; i < this.length; i++) {
                let img = this[i].imgData;
                let adjustedSize = this[i].adjustedSize;
                if (img == null || adjustedSize == null) {
                    continue;
                }           
                //console.log('img:' + img.width + 'x' + img.height);
                //console.log('adjustedSize:' + adjustedSize.width + 'x' + adjustedSize.height);
                //console.log('top:' + top);
                if (mergeType == 0 || mergeType == 1) {
                    destCtx.drawImage(img, 0, 0, img.width, img.height, 
                        0, top, adjustedSize.width, adjustedSize.height);
                } else if (mergeType == 2 || mergeType == 3) {
                    destCtx.drawImage(img, 0, 0, adjustedSize.width, adjustedSize.height, 
                        0, top, adjustedSize.width, adjustedSize.height);
                }
                top = top + adjustedSize.height;
            }            

            return destCanvas;
        };
        canvasItems.createCanvas = function() {
            let isNeed = false;
            if (this.length == 0) {
                isNeed = true;
            } else if (this[this.length-1].imgData != null) {
                isNeed = true;
            }
            if (isNeed == false) {
                return;
            }

            let canvasItem = document.createElement('div');
            canvasItem.className = 'canvasItem';
            let canvasView = document.createElement('canvas');
            canvasView.className = 'canvasView';
            let cw = getFitnessCanvasWidth();
            canvasView.width = cw;
            canvasView.height = cw;
            canvasItem.append(canvasView);

            let canvasBody = document.getElementById('canvasBody');
            canvasBody.append(canvasItem);

            canvasItems.push({
                "canvasView": canvasView,
                "imgData": null
            });
            //set focus
            for(var i in this) {
                let item = this[i];
                $(item.canvasView).removeClass('selected');
            }            
            $(canvasView).addClass('selected');
        };
        
        canvasItems.reRender = function() {
            let cw = getFitnessCanvasWidth();            
            for (var i = 0; i < this.length; i++) {
                let img = this[i].imgData;
                let canvasView = this[i].canvasView;
                canvasView.width = cw;
                if (img == null) {
                    canvasView.height = cw;
                    continue;
                }                
                var vx = 0;
                var vy = 0;
                var vw = canvasView.width;
                
                var vh = parseInt( img.height * (canvasView.width / img.width), 10);
                //console.log('rerender:' + vw + 'x' + vh);
                canvasView.height = vh;
                let ctxView = canvasView.getContext('2d');
                ctxView.drawImage(img, 0, 0, img.width, img.height, 0, 0, vw, vh);                
            }
        };

        //點擊切換 canvas 的焦點
        $( "#canvasBody" ).on( "click", ".canvasView", function() {
            for(var i in canvasItems) {
                let item = canvasItems[i];
                $(item.canvasView).removeClass('selected');
            }
            $(this).addClass('selected');
        });

        window.handleFiles = function() {
            if (this.files.length == 0) {
                return false;
            }            
            var file = this.files[0];
            let src = window.URL.createObjectURL(file);
            window.renderImage(canvasItems.getSelectedItem(), src);
        }
        var uploadFile = document.getElementById("uploadFile");
        uploadFile.addEventListener("change", handleFiles, false);
        
        $('#btnUpload').click(function() {
            $('input[type=file]').trigger('click');
        });

        $( "#headPanel" ).on( "click", "#linkDownloadImage", function() {
            window.downloadImage();
            return false;
        });
        
        window.downloadImage = function() {

            let mergeType = parseInt($('#mergeType').val(), 10);            

            var destCanvas = canvasItems.createDestCanvas(mergeType);
            var body = document.getElementsByTagName("body")[0];
            body.appendChild(destCanvas);            
            body.removeChild(destCanvas);            

            if (destCanvas.height == 0) {
                return;
            }

            let theCanvas;
            if (destCanvas.width > 1280) {
                theCanvas = shrinkCanvas(destCanvas, 1280);
            } else {
                theCanvas = destCanvas;
            }

             window.downloadCanvas(theCanvas);
        }

        window.shrinkCanvas = function(canvas, width) {
            let oldWidth = canvas.width;
            let oldHeight = canvas.height;
            let height = Math.ceil(width / oldWidth * oldHeight);
            
            var newCanvas = $("<canvas>")
                .attr("width", width)
                .attr("height", height)[0];

            newCanvas.getContext("2d").drawImage(canvas, 0, 0, oldWidth, oldHeight, 0, 0, width,  height);
            return newCanvas;
        }

        window.downloadCanvas = function(theCanvas) {
            let canvasImage = theCanvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
            let xhr = new XMLHttpRequest();            
            xhr.onload = function () {
                var uInt8Array = new Uint8Array(this.response);
                var i = uInt8Array.length;
                
                if (i==0) {
                    alert('out of memory');
                    return;
                }

                var binaryString = new Array(i);
                while (i--) {
                    binaryString[i] = String.fromCharCode(uInt8Array[i]);
                }
                var data = binaryString.join('');
                var base64 = window.btoa(data);
                var dataUrl = 'data:image/png;base64,' + base64;

                let a = document.createElement('a');                
                a.href = dataUrl;
                a.download = 'download.png';
                a.style.display = 'none';
                document.body.appendChild(a);
                a.click();
                a.remove()
            };            
            xhr.open('GET', canvasImage); // This is to download the canvas Image
            xhr.responseType = 'arraybuffer';
            xhr.send();
        }

  
        window.renderImage = function(canvasItem, imgSrc) {
            if (canvasItem == null) {
                console.log('renderImage fail, canvasItem is null.');
                return;
            }
            let canvasView = canvasItem.canvasView;
            const ctxView = canvasView.getContext('2d');
            const img = new Image();
            img.onload = function() {
                console.log('img loaded ' + this.width + 'x' + this.height);                

                var vx = 0;
                var vy = 0;
                var vw = canvasView.width;
                var vh = parseInt( this.height * (canvasView.width / this.width), 10);

                canvasView.height = vh;
                canvasItem.imgData = img;
                ctxView.drawImage(img, 0, 0, this.width, this.height, 0, 0, vw, vh);                
                canvasItems.createCanvas();
            }
            img.src = imgSrc;
        }

        const getFitnessCanvasWidth = function() {
            return $(window).width() - 30;
        }
        //隨著裝置寬度，調整canvas的寬度
        const resizeCanvasWidthByWindowWidth = function() {                        
            canvasItems.reRender();
        }
        window.addEventListener('resize', resizeCanvasWidthByWindowWidth);
        window.addEventListener('load', function() {
            canvasItems.createCanvas();
        });
    </script>
</body>