@using WhatSearch.Controllers
@using WhatSearch.Utility
@{
    this.Layout = "_Layout.cshtml";
}

@section header {
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous"></script>
<style>
body {
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
}
label {
    margin: .5rem;
}
    progress {
        width: 100%;
        height: 3em;
        color: black;
        font-size: 1.5em;
        text-align: center;
        padding-top: .7em;
        font-weight: bold;
    }

    progress:before {
        content: attr(data-label);
    }

    .table tbody tr {
        border-bottom: 1px dashed lightgrey;
    }

    .nav-menu {
        color: black;
        border: 1px solid darkgray;
        background-color: white !important;
        font-size: 2em;
        padding: 0.2em 0px;
        box-shadow: 3px 0px 5px;
    }

    .nav-menu-item {
        text-align: center;
        padding: .4em 1em;
    }

    #headPanel {
        display: flex;
        font-size: 2rem;
        font-weight: bold;
        justify-content: space-between;
    }

    #commandPanel {
        border-top: 3px dashed #292d29;
        justify-content: space-between;
        font-size: 1.2rem;
        padding: 5px 3px;
        display:flex;
        flex-wrap: wrap;
    }


    canvas {
        border: 3px solid lightgrey;
        display: block;
    }
    canvas.selected {
        border: 3px solid black;
    }
</style>
}

<body>
    <div id="app">
        <div class="container-fluid">
            <div id="headPanel">
                <h1 style="width:50%">Merge images</h1>
                <a id="linkDownloadImage" style="width:50%; text-align: right" href="">Download</a>
            </div>
            <div id="commandPanel">
                <div class="md-6">
                <input id="uploadFile" accept="image/*" type="file" style="width:1px; display:none" />
                <button id="btnUpload" style=" margin-left:1rem;" class="btn btn-success">Upload file</button>    
                </div>
                <div class="md-6">
                    <select class="form-control" id="mergeType">
                        <option value="0">合併方式:比照最窄縮小</option>
                        <option value="1">合併方式:比照最寬放大</option>                        
                        <option value="2">合併方式:比照最窄栽切</option>
                        <option value="3" selected="selected">合併方式:比照最寬留白</option>
                    </select>
                </div>
                               
            </div>
                 
            <div id="canvasBody" style="position:relative; ">
                <div class="canvasItem">
                    <canvas class="canvasView" width="600" height="600"></canvas>
                </div>
                <div class="canvasItem">
                    <canvas class="canvasView" width="600" height="600"></canvas>
                </div>
                <div class="canvasItem">
                    <canvas class="canvasView" width="600" height="600"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        // merge rule: match small images width or height, no resize , only crop to center.
        const _MATCH_SMALL_SIZE_CROP_CENTER = 1;
        window.settings = {};
        window.settings.cropMode = _MATCH_SMALL_SIZE_CROP_CENTER;
        window.settings.maxWidth = null;
        window.settings.maxHeight = null;

        var canvasItems = [];
        canvasItems.getSelectedItem = function() {
            for(var i in this) {
                let item = this[i];
                if ($(item.canvasView).is('.selected')) {
                    return item;
                }
            }
            return null;
        };
        canvasItems.getDestCanvasSize = function(mergeType) {
            let result = {width:0, height:0};
            for(var i in this) {
                let img = this[i].imgData;
                if (img == null) {
                    continue;
                }
                if (mergeType == 0 || mergeType == 2) {
                    if (result.width > img.width || result.width == 0) {
                        result.width = img.width;
                    }
                } else if (mergeType == 1 || mergeType == 3) {
                    if (result.width < img.width || result.width == 0) {
                        result.width = img.width;
                    }
                }
            }            
            for(var i in this) {
                let img = this[i].imgData;
                if (img == null) {
                    continue;
                }
                let adjustedWidth = 0;
                let adjustedHeight = 0;
                if (mergeType == 0 || mergeType == 1) {
                    adjustedWidth = result.width;
                    let r = result.width / img.width; 
                    adjustedHeight = Math.ceil(r * img.height);
                } else if (mergeType == 2) {
                    adjustedWidth = result.width;                        
                    adjustedHeight = img.height;
                } else if (mergeType == 3) {
                    adjustedWidth = result.width;
                    adjustedHeight = img.height;
                }
                this[i].adjustedSize = {
                    width: adjustedWidth,
                    height: adjustedHeight
                };
                result.height += adjustedHeight;
            }
            return result;
        };
        canvasItems.createDestCanvas = function(mergeType) {
            var destCanvasWidth = 0;
            var destCanvasHeight = 0;
            
            var destCanvasSize = this.getDestCanvasSize(mergeType);
            var destCanvasWidth = destCanvasSize.width;
            var destCanvasHeight = destCanvasSize.height;

            console.log('destCanvas:' + destCanvasWidth + 'x' + destCanvasHeight)

            var destCanvas = document.createElement('canvas');

            destCanvas.id = "CursorLayer";
            destCanvas.width = destCanvasWidth;
            destCanvas.height = destCanvasHeight;
            destCanvas.style.zIndex = 8;
            destCanvas.style.position = "absolute";
            destCanvas.style.border = "1px solid";

            var destCtx = destCanvas.getContext("2d");

            let top = 0;
            for(i in this) {
                let img = this[i].imgData;
                let adjustedSize = this[i].adjustedSize;
                if (img == null || adjustedSize == null) {
                    continue;
                }           
                //console.log('img:' + img.width + 'x' + img.height);
                //console.log('adjustedSize:' + adjustedSize.width + 'x' + adjustedSize.height);
                //console.log('top:' + top);
                if (mergeType == 0 || mergeType == 1) {
                    destCtx.drawImage(img, 0, 0, img.width, img.height, 
                        0, top, adjustedSize.width, adjustedSize.height);
                } else if (mergeType == 2 || mergeType == 3) {
                    destCtx.drawImage(img, 0, 0, adjustedSize.width, adjustedSize.height, 
                        0, top, adjustedSize.width, adjustedSize.height);
                }
                top = top + adjustedSize.height;
            }            

            return destCanvas;
        }
        
        $('.canvasItem').each(function() {
            let canvasView = $(this).find('.canvasView')[0];
            //canvasView is canvas that shrinked for page.
            canvasItems.push({
                "canvasView": canvasView,
                "imgData": null
            });
            if (canvasItems.length == 1) {
                $(canvasItems[0].canvasView).addClass('selected');
            }
        });

        //點擊切換 canvas 的焦點
        $( "#canvasBody" ).on( "click", ".canvasView", function() {
            for(var i in canvasItems) {
                let item = canvasItems[i];
                $(item.canvasView).removeClass('selected');
            }
            $(this).addClass('selected');
        });

        window.handleFiles = function() {
            if (this.files.length == 0) {
                return false;
            }            
            var file = this.files[0];
            let src = window.URL.createObjectURL(file);
            window.renderImage(canvasItems.getSelectedItem(), src);
        }
        var uploadFile = document.getElementById("uploadFile");
        uploadFile.addEventListener("change", handleFiles, false);
        
        $('#btnUpload').click(function() {
            $('input[type=file]').trigger('click');
        });

        $( "#headPanel" ).on( "click", "#linkDownloadImage", function() {
            window.downloadImage();
            return false;
        });
        
        window.downloadImage = function() {
            let mergeType = parseInt($('#mergeType').val(), 10);

            var destCanvas = canvasItems.createDestCanvas(mergeType);
            var body = document.getElementsByTagName("body")[0];
            body.appendChild(destCanvas);

            let canvasImage = destCanvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
            body.removeChild(destCanvas);

            let xhr = new XMLHttpRequest();
            xhr.responseType = 'blob';
            xhr.onload = function () {
                let a = document.createElement('a');
                a.href = window.URL.createObjectURL(xhr.response);
                a.download = 'download.png';
                a.style.display = 'none';
                document.body.appendChild(a);
                a.click();
                a.remove()
                };
            xhr.open('GET', canvasImage); // This is to download the canvas Image
            xhr.send();
        }

        window.renderImage = function(canvasItem, imgSrc) {
            if (canvasItem == null) {
                console.log('renderImage fail, canvasItem is null.');
                return;
            }
            let canvasView = canvasItem.canvasView;
            const ctxView = canvasView.getContext('2d');
            const img = new Image();
            img.onload = function() {
                console.log('img loaded ' + this.width + 'x' + this.height);                

                var vx = 0;
                var vy = 0;
                var vw = canvasView.width;
                var vh = parseInt( this.height * (canvasView.width / this.width), 10);
                
                console.log('v: ' + vw + 'x' + vh);                
                canvasView.height = vh;
                canvasItem.imgData = img;
                ctxView.drawImage(img, 0, 0, this.width, this.height, 0, 0, vw, vh);
            }
            img.src = imgSrc;
        }

        const getFitnessCanvasWidth = function() {
            return $(window).width() - 30;
        }
        //隨著裝置寬度，調整canvas的寬度
        const resizeCanvasWidthByWindowWidth = function() {            
            let cw = getFitnessCanvasWidth();
            $('.canvasView').each(function() {
                this.width = cw;
                this.height = cw;
            });            
        }
        window.addEventListener('resize', resizeCanvasWidthByWindowWidth);
        window.addEventListener('load', resizeCanvasWidthByWindowWidth);
    </script>
</body>